<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<orient-server>
    <network>
        <protocols>
            <protocol name="binary" implementation="com.orientechnologies.orient.server.network.protocol.binary.ONetworkProtocolBinary"/>
            <protocol name="http" implementation="com.orientechnologies.orient.server.network.protocol.http.ONetworkProtocolHttpDb"/>
        </protocols>
        <listeners>
            <listener ip-address="127.0.0.1" port-range="2424-2430" protocol="binary"/>
            <listener ip-address="127.0.0.1" port-range="2480-2490" protocol="http"/>
        </listeners>
    </network>
    <storages>
        <storage name="temp" path="memory:temp" userName="admin" userPassword="admin" loaded-at-startup="true"/>
    </storages>
    <users>
        <user name="admin" password="080DCF8D0F27603E8B52CED8F7EE3421671F81FCF6095F17F6488FF5416ED24E" resources="*"/>
        <user name="root" password="FCF17E3CA150A3AC1030AC982F2787D3A4FB827FB101BFC5E44970B38C98956C" resources="*"/>
        <user name="guest" password="guest" resources="connect,server.listDatabases"/>
    </users>
    <properties>
        <entry name="cache.static" value="false"/>
        <entry name="log.level" value="info"/>
    </properties>
</orient-server>
