<p>
	<label for="name" >Name</label>
	<input type="text" name="name" id="name" value="${_iteration?.name}" />
    <input type="hidden" name="id" id="id" value="${_iteration?.getIdentity()}" />
</p>
<p>
	<label for="description" >Description</label>
	<input type="text" name="description" id="description" value="${_iteration?.description}" />
</p>
<p>
    <div id="stories_container">
    	<table id="stories_table">
    		<thead>
    			<tr>
	    			<th>Name</th>
	    			<th>Description</th>
	    			<th>Story Points</th>
	    			<th>Actual Hours</th>
                    <th>Actions</th>
    			</tr>
    		</thead>
    	#{if _iteration != null}
		    #{list items: _iteration?.stories, as:'story'}
		    	<tr>
		    		<td><span>${story.name}</span><input name="story.name[]" type="hidden" value="${story.name}" /></td>
		    		<td><span>${story.description}</span><input name="story.description[]" type="hidden" value="${story.description}" /></td>
		    		<td><span>${story.storyPoints}</span><input name="story.storyPoints[]" type="hidden" value="${story.storyPoints}" /></td>
		    		<td><span>${story.actualHours}</span><input name="story.actualHours[]" type="hidden" value="${story.actualHours}" /></td>
                    <td><a id="edit_button" class="button" href="@{Story.edit(story.getIdentity())}">Edit</a><a class="button" id="delete_button" href="@{Story.delete(story.getIdentity())}">Delete</a></td>
		    	</tr>
		    #{/list}
		#{/if}
    </div>
</p>
<p>
    <input type="submit" value="Save" />
</p>