<h2>Iterations</h2>
<script type="text/javascript">
	$(document).ready(function(){
		jwerty.key("ctrl+A", function() {window.location = "@{Iteration.add()}"; return false;});
	});
</script>
<div id="iteration_container">
	<div id="iterations_table_decorator"><a class="button" id="add_button" href="@{Iteration.add()}">Add Iteration</a></div>
	<table id="iteration_table">
		<thead>
			<tr>
				<th>Name</th>
                <th>Description</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		#{list items: _iterations, as:'iteration'}
			<tr class="${iteration_parity}">
				<td><span>${iteration.name}</span><input type="hidden" name="name" value="${iteration.name}"</td>
                <td><span>${iteration.description}</span><input type="hidden" name="name" value="${iteration.description}"</td>
				<td>
					<a id="edit_button" class="button" href="@{Iteration.edit(iteration.getIdentity())}">Edit</a>
					<a class="button" id="delete_button" href="#" onclick="openConfirmation('Delete ${iteration.name}','Do you really want to delete this record?', '@{Iteration.delete(iteration.getIdentity())}');">Delete</a>
				</td>
			</tr>
		#{/list}
		</tbody>
	</table>
</div>