<script type="text/javascript">
	$(document).ready(function() {
		jwerty.key("ctrl+S", function() {$("form").submit(); return false});
		jwerty.key("ctrl+B", function() {window.location = "@{Application.index()}"; return false});
	});
</script>

<div class="hidden">
	<input type="hidden" name="id" id="id" value="${_iteration.getIdentity()}" />
</div>

<table class="form-table">
	<tr>
		<td><label for="name" >Name</label></td>
		<td><input class="text #{errorClass 'iteration_name'/}" type="text" name="iteration_name" id="iteration_name" value="${flash['iteration_name']}" /></td>
		<td><span class="errorMessage">#{error 'iteration_name' /}</span></td>
    </tr>
    <tr>
		<td><label for="description" >Description</label></td>
		<td><input class="text #{errorClass 'iteration_description'/}" type="text" name="iteration_description" id="iteration_description" value="${flash['iteration_description']}" /></td>
		<td><span class="errorMessage">#{error 'iteration_description' /}</span></td>
	</tr>
</table>

#{stories iteration:_iteration /}

<div id="form-footer" class="button_group">
    <input type="submit" class="button" value="Save" />
	<a class="button" href="@{Application.index()}" >Back</a>
</div>
