<div class="hidden">
	<input type="hidden" name="id" id="id" value="${_iteration.getIdentity()}" />
</div>
<table class="form-table">
	<tr>
		<td><label for="name" >Name</label></td>
		<td>
			<input class="text" type="text" name="name" id="name" value="${flash.name}" />
			<span>#{error 'name' /}</span>
		</td>
    </tr>
    <tr>
		<td><label for="description" >Description</label></td>
		<td>
			<input class="text" type="text" name="description" id="description" value="${flash.description}" />
			<span>#{error 'description' /}</span>
		</td>
	</tr>
</table>

#{stories iteration:_iteration /}

<div class="form-footer">
    <input type="submit" class="button" value="Save" />
	<input type="button" class="button" value="Back" onclick="javascript:history.back()"/>
</div>
