<p>
	<label for="name" >Name</label>
	<input type="text" name="name" id="name" value="${_story?.name}" />
    <input type="hidden" name="id" id="id" value="${_story?.getIdentity()}" />
</p>
<p>
	<label for="description" >Description</label>
	<input type="text" name="description" id="description" value="${_story?.description}" />
</p>
<p>
	<label for="storyPoints" >Story Points</label>
	<input type="text" name="storyPoints" id="storyPoints" value="${_story?.storyPoints}" />
</p>
<p>
	<label for="actualHours" >Actual Hours</label>
	<input type="text" name="actualHours" id="actualHours" value="${_story?.actualHours}" />
</p>
<p>
    <input type="submit" value="Save" />
</p>