<script type="text/javascript">
	function checkIterationSaved(iteration_id) {
		if(iteration_id) {
			document.location.href="@{Story.add(_iteration.getIdentity())}";
		} else {
			openDialog("Warning", "Please save the iteration first before adding stories!");
		}
	}
	
	$(document).ready(function() {
		jwerty.key("ctrl+A", function() {checkIterationSaved('${_iteration.getIdentity()}'); return false;});
	});
</script>
<div id="stories_container">
	<div id="stories_table_decorator"><a class="button" id="add_button" href="#" onclick="checkIterationSaved('${_iteration.getIdentity()}')">Add Story</a></div>
	<table id="stories_table">
		<thead>
			<tr>
    			<th>Name</th>
    			<th>Description</th>
    			<th>Story Points</th>
    			<th>Actual Hours</th>
                <th>Actions</th>
			</tr>
		</thead>
        <tbody>
        #{if _iteration != null}
            #{list items: _iteration?.stories, as:'story'}
	    	<tr>
	    		<td><span>${story.name}</span><input name="story.name[]" type="hidden" value="${story.name}" /></td>
	    		<td><span>${story.description}</span><input name="story.description[]" type="hidden" value="${story.description}" /></td>
	    		<td><span>${story.storyPoints}</span><input name="story.storyPoints[]" type="hidden" value="${story.storyPoints}" /></td>
	    		<td><span>${story.actualHours}</span><input name="story.actualHours[]" type="hidden" value="${story.actualHours}" /></td>
                <td><a id="edit_button" class="button" href="@{Story.edit(story.getIdentity(), _iteration.getIdentity())}">Edit</a><a class="button" id="delete_button" href="@{Story.delete(story.getIdentity(), _iteration.getIdentity())}">Delete</a></td>
	    	</tr>
            #{/list}
        #{/if}
        </tbody>
     </table>
</div>